.left_container {
padding: 15px;
width: 40%;
background-color: tan;


}

.right_container {
    padding: 15px;
width: 60%;
background-color: aquamarine;

font-family: 'Roboto',
sans-serif;
font-size: 16px;
font-style: oblique;
}

#root {
    display: flex;
}

.title {
    font-family: 'Roboto',
    sans-serif;
    font-size: 32px;
    color: slateblue
}
.ul {
list-style-type: none;
}

.btn_add {
    font-family: 'Roboto',
    sans-serif;
    font-size: 18px;
 background-color: rosybrown;
 border-radius: 10px;
box-shadow: 3px 3px 5px 3px darkslategray;
}

.list {
display: flex;
}

.text {
font-family: 'Roboto',
sans-serif;
font-size: 14px;
}

.edit_btn {
margin-left: auto;

font-family: 'Roboto',
sans-serif;
font-size: 16px;

background-color: gray;
border-radius: 10px;
box-shadow: 3px 3px 5px 3px darkslategray;
}

.delete_btn {
margin-left: 5px;
padding: 5px;
background-color: rosybrown;

font-family: 'Roboto',
sans-serif;
font-size: 16px;

border-radius: 10px;
box-shadow: 3px 3px 5px 3px darkslategray;
}

.add_book {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.form_input {
    margin-left: 25px;
    margin-bottom: 15px;
    border-radius: 10px;
}

lable {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 0 auto;
}

.save {
    margin-left: 5px;
    padding: 5px;
    background-color: rosybrown;
    border-radius: 10px;
}